<template>
  <v-container>
    <!-- History -->
    <History />

    <v-container class="article-container">
      <!-- Toolbar/Functional -->
      <v-flex class="d-flex justify-space-between">
        <div class="title-text">
          <h3 @click="editTitle">{{history.title}}</h3>
          <h4>{{history.author}}</h4>
        </div>

        <Toolbar :url="history.url" @click="editTitle" />
      </v-flex>
      <v-flex class="d-flex justify-end">
        <span>{{history.publishedAt | date-MMMDDYYY}}</span>
      </v-flex>
      <v-container class="grey lighten-5">
        <v-row no-gutters>
          <v-col cols="6" sm="2" class="img-url">
            <v-img :src="history.urlToImage"></v-img>
          </v-col>
          <v-col>
            <p>{{history.description}}</p>
            <p>{{history.content}}</p>
          </v-col>
        </v-row>
      </v-container>
    </v-container>

    <!-- Title Editor -->
    <EditTitle />

    <!-- Error Request Sample -->
    <v-flex class="d-flex justify-space-between align-center mt-5">
      <div>&nbsp;</div>
      <v-alert
        dismissible
        width="50%"
        v-if="errorMessage.message"
        type="error"
      >{{errorMessage.message}}</v-alert>
      <v-btn @click="errorRequest" depressed color="error" sm="6">Request</v-btn>
    </v-flex>
  </v-container>
</template>

<script>
import moment from "moment";
import _take from "lodash/take";
import EditTitle from "../../components/Dialog";
import Toolbar from "../../components/Toolbar";
import History from "./History";
import { eventBus } from "../../main";

export default {
  data: () => ({
    history: {},
    errorMessage: {}
  }),

  components: {
    EditTitle,
    Toolbar,
    History
  },

  mounted: function() {
    this.history = JSON.parse(localStorage.getItem("userHistory"))[0];
    eventBus.$on("EVENT_UPDATE_TITLE", title => (this.history.title = title));
  },

  methods: {
    editTitle: function() {
      eventBus.$emit("EVENT_DIALOG_STATE", this.history.title);
    },
    errorRequest: function() {
      this.errorMessage = {};
      this.$store.dispatch("error/getErrorRequest").catch(error => {
        this.errorMessage = error.response.data;
      });
    }
  },

  beforeDestroy: function() {
    eventBus.$off("EVENT_DIALOG_STATE");
    eventBus.$off("EVENT_UPDATE_TITLE");
  }
};
</script>

<style scoped>
h3 {
  color: blue;
  cursor: pointer;
}
.v-application p {
  text-align: justify;
}
.article-container {
  border: 1px solid gray;
  border-radius: 5px;
}
.img-url {
  margin-right: 20px;
}
.title-text {
  width: 80%;
}
</style>