<template>
  <v-container>
    <div class="row align-center">
      <div class="title">Histories</div>
      <div class="toggle-history">
        <v-icon @click.native="showHistory">{{iconState}}</v-icon>
      </div>
    </div>

    <div v-show="iconState ==  'keyboard_arrow_up' ? true : false">
      <v-row>
        <v-col class="item-history m-2" v-for="(history, index) in histories" :key="index">
          <v-card>
            <v-list-item three-line>
              <v-list-item-content>
                <v-list-item-title class="headline mb-1">{{history.title}}</v-list-item-title>
                <v-list-item-subtitle>{{history.content}}</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
          </v-card>
        </v-col>
      </v-row>

      <v-flex class="d-flex justify-center my-4" v-if="isShowMore">
        <v-btn depressed @click.native="loadMore" color="primary">{{btnLabel}}</v-btn>
      </v-flex>
    </div>
  </v-container>
</template>

<script>
import _take from "lodash/take";
import _inRange from "lodash/inRange";

export default {
  data: () => ({
    histories: [],
    take: 4,
    history: {},
    btnLabel: "Show more",
    iconState: "keyboard_arrow_up",
    isShowMore: false
  }),

  mounted: function() {
    const history = JSON.parse(localStorage.getItem("userHistory"));
    const takeHistory = _take(history, this.take);

    if (history.length > this.take) this.isShowMore = true;

    this.histories = [...takeHistory];
  },

  methods: {
    showHistory: function() {
      this.iconState =
        this.iconState == "keyboard_arrow_up"
          ? "keyboard_arrow_down"
          : "keyboard_arrow_up";
    },
    loadMore: function() {
      const histories = JSON.parse(localStorage.getItem("userHistory"));
      if (this.btnLabel == "Show more") {
        if (this.take >= histories.length) this.btnLabel = "Show less";
        this.histories = _take(histories, (this.take += 4));
      } else {
        this.take = 4;
        this.histories = _take(histories, this.take);
        this.btnLabel = "Show more";
      }
    }
  }
};
</script>

<style scoped>
.item-history {
  height: 20;
  width: 25%;
  margin-right: auto;
}
.toggle-history {
  padding-left: 10px;
  cursor: pointer;
}
</style>