<template>
  <v-container>
    <div class="d-flex justify-space-between align-center" style="margin:2%">
      <span class="span-text">Headlines</span>
      <Search />
      <v-btn v-on:click.native="showFilter" large color="primary">{{btnTxtLbl}}</v-btn>
    </div>
    <!-- Filter -->
    <SourceFilter v-show="isFilterVisible" />
    <!-- Loader -->
    <Loader v-if="isSearching" />
    <v-flex v-else class="d-flex flex-wrap">
      <v-card class="art-container" v-for="(article, index) in headlines.articles" :key="index">
        <v-img
          :src="article.urlToImage"
          :lazy-src="article.urlToImage"
          aspect-ratio="1"
          class="grey lighten-2"
          max-width="1000"
          max-height="230"
        >
          <v-flex class="px-3">
            <v-flex class="d-flex justify-end" style="margin-bottom:5%">
              <v-icon class="arrow-right" large @click="toDetails(article)">arrow_right_alt</v-icon>
            </v-flex>
            <div class="title-pub" style="margin-bottom:10px">
              <h4 class="date-text">{{article.publishedAt | date-YYMMDD}}</h4>
            </div>
            <div>
              <h3 class="title-text" @click="toDetails(article)">{{article.title}}</h3>
            </div>

            <div style="width:100%; margin-top: 4%">
              <p class="paragraph-text text-justify" v-if="article.description">
                {{article.description.slice(0, article.descLength)}}
                {{article.descLength ? '...': ''}}
                <a
                  style="padding-left:2px"
                  class
                  href="#"
                  @click="readMore(article, $event)"
                >{{!article.isReadMore ? 'Read more': 'Read less'}}</a>
              </p>
            </div>
          </v-flex>
        </v-img>
      </v-card>
      <!-- Alert -->
      <v-flex class="d-flex justify-center mt-2" v-if="!headlines.articles.length && !isSearching">
        <v-alert width="50%" type="warning">No result to be displayed.</v-alert>
      </v-flex>
    </v-flex>
  </v-container>
</template>

<script>
import moment from "moment";
import SourceFilter from "../components/SourceFilter";
import Search from "../components/Search";
import Loader from "../components/Loader";
import { eventBus } from "../main";

export default {
  data: () => ({
    isFilterVisible: false,
    isSearching: false,
    btnTxtLbl: "Filter"
  }),

  mounted: function() {
    eventBus.$on(
      "EVENT_USER_SEARCHING",
      isSearching => (this.isSearching = isSearching)
    );
  },

  computed: {
    headlines: function() {
      return this.$store.getters["headlines/getHeadlines"];
    },
    getSources: function() {
      return this.$store.getters["sources/getSources"];
    }
  },

  methods: {
    readMore: function(descrp, event) {
      descrp.descLength = descrp.descLength == 40 ? 400 : 40;
      descrp.isReadMore = descrp.isReadMore ? false : true;
      event.preventDefault();
    },
    showFilter: function() {
      if (!this.$store.state.sources.sources.length) return;
      this.isFilterVisible = !this.isFilterVisible;
      if (this.isFilterVisible) this.btnTxtLbl = "Hide Filter";
      else this.btnTxtLbl = "Filter";
    },
    toDetails: function(article) {
      const histories = JSON.parse(localStorage.getItem("userHistory"));
      let newHistory = [];
      if (histories) newHistory = [article, ...histories];
      else newHistory = [article];
      localStorage.setItem("userHistory", JSON.stringify(newHistory));
      this.$router.push({ name: "details" });
    }
  },

  components: {
    SourceFilter,
    Search,
    Loader
  }
};
</script>


<style scoped>
.art-container {
  margin: 2%;
  height: 100%;
  width: 20%;
}
.paragraph-text {
  color: white;
  text-shadow: 1px 1px black;
}
.date-text {
  color: white;
  text-shadow: 1px 1px black;
}
.title-text {
  color: white;
  font-size: 100%;
  text-shadow: 1px 1px blue;
  cursor: pointer;
}
.arrow-right {
  color: white;
  text-shadow: 1px 1px black;
}
.span-text {
  font-size: 30px;
  color: rgb(123, 104, 238);
  columns: #b3d4fc;
}
</style>