<template>
  <div>
    <v-dialog v-model="dialog" width="400">
      <v-card>
        <v-card-title class="headline grey lighten-2" primary-title>Edit Title</v-card-title>
        <v-col cols="12" sm="6" md="12" justify="center" align="center">
          <v-text-field maxlength="50" v-model="title"></v-text-field>
          <span v-if="!title">Title must be set up to 50 characters.</span>
        </v-col>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="updateTitle">Update</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { eventBus } from "../main";
export default {
  data: () => ({
    dialog: false,
    title: null
  }),

  methods: {
    updateTitle: function() {
      if (!this.title) return;

      this.dialog = false;
      eventBus.$emit("EVENT_UPDATE_TITLE", this.title);
    }
  },

  mounted: function() {
    eventBus.$on("EVENT_DIALOG_STATE", title => {
      this.dialog = true;
      this.title = title;
    });
  }
};
</script>

<style scoped>
span {
  color: red;
  /* margin-left: 30%; */
}
</style>