<template>
  <v-sheet color="gray lighten-4" class="px-3 pt-3 pb-12">
    <v-container>
      <v-row>
        <v-col cols="12" md="4" v-for="n in 9" :key="n">
          <v-skeleton-loader class="mx-auto" max-width="300" type="card"></v-skeleton-loader>
        </v-col>
      </v-row>
    </v-container>
  </v-sheet>
</template>

<script>
export default {};
</script>