<template>
  <v-flex class="d-flex justify-center">
    <v-col cols="12" sm="6" md="5">
      <v-text-field label="Search" v-model="searchKey"></v-text-field>
    </v-col>
  </v-flex>
</template>

<script>
import _debounce from "lodash/debounce";
import { eventBus } from "../main";

export default {
  data: () => ({
    searchKey: null,
    timeoutId: null
  }),

  watch: {
    searchKey: function(newVal) {
      if (!newVal) return;
      eventBus.$emit("EVENT_USER_SEARCHING", true);
      this.setTimeout = setTimeout(() => {
        this.$store.dispatch("headlines/getSearchHeadlines", newVal);
        eventBus.$emit("EVENT_USER_SEARCHING", false);
      }, 1000);
    }
  },

  beforeDestroy: function() {
    clearTimeout(this.timeoutId);
    eventBus.$off("EVENT_USER_SEARCHING");
  }
};
</script>