<template>
  <div>
    <v-card class="mx-auto" max-width="85%">
      <v-card-text>
        <div class="row px-3 align-center">
          <h3>Sources</h3>
          <div class="px-2 pt-1">
            <v-switch class="px-2" v-model="selectAll" label="All"></v-switch>
          </div>
        </div>
        <v-flex class="row flex-wrap px-2">
          <v-switch
            v-for="(source , index) in getSources"
            :key="index"
            class="px-2"
            v-model="source.isCheck"
            :label="source.name"
          ></v-switch>
        </v-flex>
      </v-card-text>
      <v-card-actions>
        <v-flex class="d-flex justify-space-between">
          <v-btn @click="applyFilter" text color="deep-purple accent-4">Apply</v-btn>
          <v-btn @click="realoadArticles" text color="deep-purple accent-4">Refresh</v-btn>
        </v-flex>
      </v-card-actions>
    </v-card>
  </div>
</template>


<script>
export default {
  data: () => ({
    selectAll: true,
    switchOne: false,
    switchLabel: "Text"
  }),

  computed: {
    getSources: function() {
      return this.$store.getters["sources/getSources"];
    }
  },

  methods: {
    applyFilter: function() {
      this.$store.commit(
        "headlines/filterHeadlines",
        this.$store.getters["sources/getSelecterSources"]
      );
    },
    realoadArticles: function() {
      this.$store.dispatch("headlines/getHeadlines");
    }
  },
  watch: {
    selectAll: function(newVal) {
      this.$store.commit("sources/checkUncheckSources", newVal);
      
    }
  }
};
</script>
<style scoped>
</style>