<template functional>
  <ul>
    <li v-on:click="listeners.click">
      <a class="active">Edit Title</a>
    </li>
    <li>
      <a target="_blank" :href="props.url">About</a>
    </li>
  </ul>
</template>

<script>
export default {
  name: "Toolbar",
  props: {
    url: {
      type: String
    }
  }
};
</script>

<style scoped>
ul {
  list-style-type: none;
  width: 14%;
  border-radius: 15px;
  margin: 10px 0 10px 0;
  padding: 0;
  overflow: hidden;
  background-color: gray;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4caf50;
}
</style>