<template>
  <v-app>
    <!-- App bar -->
    <v-app-bar app color="#7B68EE">
      <v-toolbar-title class="headline text-uppercase">
        <span @click="toHeadlines">NEWS</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
    </v-app-bar>

    <v-content>
      <router-view />
    </v-content>
  </v-app>
</template>

<script>
import HeadLines from "./views/Headlines";

export default {
  name: "App",
  components: {
    HeadLines
  },
  data: () => ({
    text: "test"
  }),
  methods: {
    toHeadlines: function() {
      this.$router.replace({ name: "headlines" });
    }
  },
  mounted: function() {
    this.$store.dispatch("headlines/getHeadlines");
  }
};
</script>


<style scoped>
span {
  color: white;
  cursor: pointer;
}
</style>